*{
margin: 0;
padding: 0;

}


header{
background-image: url(harbour.jpg);
height: 100vh;
background-size: cover;
background-position: center;


}

.nav-bar{
background: rgba(2, 47, 247, 0.3);
height: 90px;
}

.logo{

    margin:5px 20px;
    width: 70px;
    border-radius: 10px;
    float: left;

}


.menu{  float: left; 
        list-style: none;
        margin: 20px; /*nav bar ha list eka athara gap eka */


}

.menu li{
        display: inline-block;  /* menu eke list component harahata liwimata*/
        margin: 10px 5px;/* list eke component wala margine*/

}

.menu li a{
        text-decoration: none;
        color: rgb(248, 248, 248); 
        padding: 38px 20px ; 
        font-family: sans-serif;
        letter-spacing: 2px;
        font-size: 20px;
}

.menu li a:hover{/* cursor eka arn giyama wena wens weem*/
    background: rgb(28, 216, 230); /*cursr eka arn giyama text eka wate bkgrnd eka */
    transition: .3s;
    color: rgb(247, 1, 165);/*cursr eka arn giyama text eke pata */
}

.menu h1{
    padding: 38px 20px ; 
        font-family: sans-serif;
        letter-spacing: 2px;
        font-size: 40px;
        float: left;
        padding: 2px 60px ; 
        color: antiquewhite;
}

.menu h1:hover{ transition: .3s;
    color: rgb(21, 34, 219);}

.topic{

    color: rgb(217, 218, 233);
    text-align: center;
    padding: 20px;
    font-size: 25px;
     position: relative;

}

.btn{
    font-size: 25px;
    letter-spacing: 2px;
    margin: 10px;
    padding: 1px 10px;
    text-decoration: none;
}
.btn1{
  background-color: bisque;
  color: black;
  font-family: Georgia;
  border-radius: 10px;
    
}
.btn2{
    background-color: rgb(240, 139, 15);
  color: black;
  font-family: Georgia;
  border-radius: 10px;
}

.btn1:hover{ transition: .3s;
    background: rgb(28, 216, 230); /*cursr eka arn giyama text eka wate bkgrnd eka */
    transition: .3s;
    color: rgb(247, 1, 165);/*cursr eka arn giyama text eke pata */}

.btn2:hover{ transition: .3s;
    background: rgb(28, 216, 230); /*cursr eka arn giyama text eka wate bkgrnd eka */
    transition: .3s;
    color: rgb(247, 1, 165);/*cursr eka arn giyama text eke pata */}