*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.A{
    display: flex;
    width: 100%;
    height: 100%;

}

/*...........................left colom styls.....................................................................*/
.left-col{
    flex-basis: 30%;
    height:625px;
    background: #a30505;
   position: relative;
}

.menuicon{
    margin: 10px;
    width: 50px;
    float: left;
    border-radius: 10px;
  
}

.comlogo2{
    margin-left: 120px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: rgb(219, 6, 6);
    width: 160px;
    height: 60px;
}
.whitebar{
position: absolute;
height: 20px;
width: 280px;
background: rgb(243, 243, 243);
top: 180px;
right: 0;
}

.lefttext{

    width: 400px;
    right: 2px;
    top: 220px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    
}

.lefttext p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 26px;
    color: #beb8b8;
}

.girls-image{

    bottom: 20px;
    position: absolute;
    right: -75px;
    

}
.xxx{
                  width: 150px;
                  border-radius: 5px;
                  opacity: 0.8;

}


.girls-image::after{
                     content: '\276f';
                     height: 40px;
                     width: 40px;
                     position: absolute;
                     bottom: 120px;
                     left: -100px;
                     color: #000;
                     font-size: 28px;
                     border: 2px solid #fff;
                     border-radius: 90%;
                     text-align: center;
                     transform: rotate(-90deg);

}


.girls-image::before{
    content: '\276f';
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 10px;
    left: -100px;
    color: #000;
    font-size: 28px;
    border: 2px solid #fff;
    border-radius: 90%;
    text-align: center;
    transform: rotate(90deg);

}

.linex{
    height: 80px;
    width: 4px;
    position: absolute;
    bottom: 38px;
    right: -40px;
    background: black;
}

.linex::after{
content: '02/04';
position: absolute;
transform: rotate(-90deg);
top: -30px;
left: -12px;
font-size: 11px;
letter-spacing: 1px;

}
    



/*...........................Right colom styls.....................................................................*/
.right-col{
    flex-basis: 70%;
    height: 100%;
    position: relative;
}

.navbar{

    position: absolute;
    right: 45px;
    top: 25px;
    
}

.img {

    width: 25px;
    float: right;
    margin-left: 5px;
    
  
}


.list01{
float: left;

}

.navbar li{
list-style: none;
margin: 0 20px;
display: inline-block;
font-size: 16px;
font-style: normal;
font-weight: bold;


}

.navbar li:hover{
    
     /*cursr eka arn giyama text eka wate bkgrnd eka */
    transition: .3s;
    color: rgb(247, 1, 235);}

    .redbar{
        position: absolute;
        height: 20px;
        width: 290px;
        background: rgba(255, 0, 0, 0.63);
        top: 180px;
        left: 0;
        }  
    
     
            .abc{

                position: absolute;
                height: 20px;                    /* line eke usa*/
                width: 6px;                     /* line eke palala*/
                background: rgb(255, 254, 254);
                top: 0;          /* line eka div eke idan patan ganna usa*/
                right: 05px;     /* line eka div eke dakunu konata tiyana dura*/  
            }

            .def{
                position: absolute;
                height: 20px;                    /* line eke usa*/
                width: 6px;                     /* line eke palala*/
                background: rgb(2, 0, 0);
                top: 0;          /* line eka div eke idan patan ganna usa*/
                right: 15px;     /* line eka div eke dakunu konata tiyana dura*/
                } 
        
                .redimage{

                    top: 10px;
                    position: absolute;
                    left: 355px;
                    
                
                }
                .vvv{
                                  width: 400px;
                                  height: 300px;
                                  border-radius: 5px;
                }

                .bottom-line{
                    height: 7px;
                    width: 185px;
                    background-color: #e80707;
                    position: absolute;
                    right: 0;
                    top: 320px;
                }

                .line01{
                    height: 7px;
                    width: 5px;
                    background-color: #570303;
                    position: absolute;
                    right: 190px;
                    top: 0px;
                }

                .line02{
                    height: 7px;
                    width: 4px;
                    background-color: #9b0404;
                    position: absolute;
                    right: 198px;
                    top: 0px;
                } .line03{
                    height: 7px;
                    width: 3px;
                    background-color: #1b0202;
                    position: absolute;
                    right: 205px;
                    top: 0px;
                }

                .redimage h1{
                    position: absolute;
                    top: 125px;
                    right: 305px;
                    opacity: 0.4;
                    font-size: 60px;
                    transform: rotate(-90deg);

                }

                .textboxredspace {

                    position: absolute;
                    top: 50px;
                    right: 10px;
                }
                .para01{
                    position: absolute;
                    top: 40px;
                    right: 10px;
                    font-style: italic;
                    font-family: 'Times New Roman', Times, serif;
                    text-align: center;

                }

                .textboxredspace::after{
                    content: '\276f';
                    position: absolute;
                    bottom: -190px;
                    right: 0px;
                    font-size: 25px;
                    transform: rotate(90deg);
                }
                .line02{

                    position: absolute;
                    width: 60px;
                    top: 250px;
                    height: 2px;
                    right: 35px;
                }

                .line02span{
                    position: absolute;
                    width: 5px;
                    height: 2px;
                    right: 67px;
                    background-color: #110c01;
                }